# Node
node_modules/
dist/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
backend/database/peros_feeds.db

# OS
.DS_Store
Thumbs.db

# Vite
frontend/dist/
frontend/node_modules/

.vercel
